[submodule "ScratchInoConvertor/utils/artk"]
	path = ScratchInoConvertor/utils/artk
	url = https://github.com/wcraigtrader/artk.git
[submodule "utils/artk"]
	path = utils/artk
	url = https://github.com/Semi-croustillants/artk.git
